:root {
  /* Colors */
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(91deg, #706af0 -0.4%, #3cb0d1 101.74%);

  /* Padding */
  --container-padding: clamp(2.5em, 8vw, 8em);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  background: #151516;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

html {
  font-family: Eudoxus Sans, system-ui, sans-serif;
  color-scheme: dark light;
}

/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: "EudoxusSans";
  src: url("/fonts/EudoxusSans-medium.woff") format("woff");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-size: clamp(3.25rem, -1.6381rem + 20.856vw, 20rem);
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.004em;
  color: white;
  background: var(--accent-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: clamp(2.5rem, 1.4786rem + 4.358vw, 6rem);
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.0025em;
  color: white;
}

p {
  font-size: 0.8541rem + 0.62clamp (1rem, 26vw, 1.5rem);
  line-height: 1.6;
  color: white;
}

section {
  position: relative;
  overflow: clip;
}

.subheading {
  font-size: clamp(1.125rem, 0.7237rem + 1.7121vw, 2.5rem);
  line-height: 1.4;
  text-wrap: balance;
}

.container {
  max-width: 68.88em;
  margin-inline: auto;
  padding: var(--container-padding);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10em;
  padding-bottom: 7em;
}
