---
import Layout from '../layouts/Layout.astro';
import Tjenester from '../components/Tjenester.astro'

// Import the <Image /> component
import { Image } from "astro:assets";
// Import a reference to the image itself
import myImage from "../assets/iPad-Schipperke-treffet.jpg";

import myVideo from "../assets/RedRoomOnline.mp4";

---

<Layout title="Welcome to Amused.">
	<main>
		<section>
			<container class="container">
				<div class="heading-wrap">
					<h1>AMUSED</h1>
					<p class="subheading">Spektakulær merkevarebygging for ambisiøse bedrifter som ønsker å bli synlig på nett.</p>
			</container>
			<div class="blur-green">
			</div>
			<div class="blur-purple">
			</div>
		</section>
		<section>
			<video class="myVideo" autoplay muted loop id="myVideo">
  				<source src={myVideo} type="video/mp4">
			</video>
								<Image
						src={myImage}
						alt="A very cool penguin!"
						style="height: 100%; width: 100%; object-fit: cover;"
					/>
		</section>
		<Tjenester />
	</main>
</Layout>

<style>

	video {
		width: 100%;
		aspect-ratio: 16/9;
	}

	.heading-wrap {
		display: flex;
		flex-direction: column;
		row-gap: clamp(1.5rem, 0.4056rem + 4.6693vw, 5.25rem);
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.blur-green {
		position: absolute;
		top: -50%; left: -50%;
		width: 144.5em;
		height: 73.5em;
		background-color: #3BB1D0;
		opacity: 9%;
		filter: blur(1000px);
	}

	.blur-purple {
		position: absolute;
		bottom: 50%; right: 50%;
		width: 144.5em;
		height: 73.5em;
		background-color: #6F6BEF;
		opacity: 9%;
		filter: blur(1000px);
	}
</style>