---
import Layout from '../layouts/Layout.astro';
import Tjenester from '../components/Tjenester.astro'
import Cards from '../components/Cards.astro';



import myVideo from "../assets/cubertovideo.mp4";
import Marquee from '../components/Marquee.astro';

---

<Layout title="Welcome to Amused.">
	<main>
		<section>
			<container class="container">
				<div class="heading-wrap">
					<h1>AMUSED</h1>
					<p class="subheading">Spektakulær merkevarebygging for ambisiøse bedrifter som ønsker å bli synlig på nett.</p>
			</container>
			<div class="blur-green">
			</div>
			<div class="blur-purple">
			</div>
		</section>
		<section>
			<video class="myVideo" playsinline autoplay loop muted id="myVideo">
  				<source src={myVideo} type="video/mp4">
			</video>
		</section>
		<Tjenester />
		<Marquee />
		

	</main>
</Layout>

<style>

	video {
		width: 100%;
		aspect-ratio: 16/9;
	}

	.heading-wrap {
		display: flex;
		flex-direction: column;
		row-gap: clamp(1.5rem, 0.4056rem + 4.6693vw, 5.25rem);
		align-items: center;
		justify-content: center;
		text-align: center;
		z-index: 2;
		margin-top: 7em;
	}

	.blur-green {
		position: absolute;
		top: -50%; left: -50%;
		width: 144.5em;
		height: 73.5em;
		background-color: #3BB1D0;
		opacity: 5%;
		filter: blur(1000px);
		z-index: 1;
	}

	.blur-purple {
		position: absolute;
		bottom: 50%; right: 50%;
		width: 144.5em;
		height: 73.5em;
		background-color: #6F6BEF;
		opacity: 5%;
		filter: blur(1000px);
		z-index: 1;

	}
</style>