---
import Layout from '../layouts/Layout.astro';

// Import the <Image /> component
import { Image } from "astro:assets"
// Import a reference to the image itself
import myImage from "../assets/mac-mockup-jobbox.jpg"
---

<Layout title="Welcome to Amused.">
	<main>
		<section>
			<container class="container">
				<div class="heading-wrap">
					<h1>AMUSED</h1>
					<p class="subheading">Spektakulær merkevarebygging for ambisiøse bedrifter som ønsker å bli synlig på nett.</p>
				</div>
			</container>
		</section>
	</main>
</Layout>

<style>

	.heading-wrap {
		display: flex;
		flex-direction: column;
		row-gap: clamp(1.5rem, 0.4056rem + 4.6693vw, 5.25rem);
		align-items: center;
		justify-content: center;
		text-align: center;
	}
</style>