---
import '../styles/global.css';
---

<div class="cards-wrapper">
        <div class="grid">
            <div class="card">
                <div>
                    <h3 class="small-title">Moderne</h3>
                    <h4 class="big-title-blue">Nettsider</h4>
                </div>
            </div>
            <div class="card">
                <div>
                    <h3 class="small-title">Sylskarp</h3>
                    <h4 class="big-title-orange">Fotografi<h4>
                </div>
            </div>
            <div class="card">
                <div>
                    <h3 class="small-title">Engasjerende</h3>
                    <h4 class="big-title-green">Videoer</h4>
                </div>
            </div>
        </div>
</div>


<style>

    .cards-wrapper {

    }

    .grid {
        display: grid;
        gap: 1rem;
        grid-template-columns:
            repeat(auto-fit, minmax(min(100%, 260px), 1fr));
        grid-auto-flow: row;
    }

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #1C1C1F;
        aspect-ratio: 1/1;
        border: solid var(--border);
        border-width: 1px;
        border-radius: 12px;
    }

    .small-title {
        font-size: clamp(1.375rem, 1.1926rem + 0.7782vw, 2rem);;
        font-weight: 700;
        color: var(--text-light);
    }

    .big-title-blue {
        font-size: clamp(2rem, 1.3434rem + 2.8016vw, 4.25rem);;
        font-weight: 700;
        background: var(--accent-gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .big-title-orange {
        font-size: clamp(2rem, 1.3434rem + 2.8016vw, 4.25rem);;
        font-weight: 700;
        background: var(--accent-gradient-green);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .big-title-green {
        font-size: clamp(2rem, 1.3434rem + 2.8016vw, 4.25rem);;
        font-weight: 700;
        background: var(--accent-gradient-orange);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

</style>