---
import Cards from "./Cards.astro";
import '../styles/global.css';
---


<section>
    <div class="cards-container">
        <div class="h2-heading-wrap">
            <h2>Hva jeg tilbyr</h2>
            <p class="subheading">Fra slagkraftig strategi til moderne og engasjerende design. Amused handler jobber som ett team med kundene våre, og  menneskelig kreativitet.</p>
        </div>
        <Cards />
    </div>
</section>


<style>

    .cards-container {
        max-width: 100em;
        margin-inline: auto;
        padding: var(--container-padding);
        padding-top: 10em;
        padding-bottom: 7em;
        display: flex;
        flex-direction: column;
        gap: 4em;
    }

    .h2-heading-wrap {
        display: flex;
        flex-direction: column;
        gap: 2em;
        text-align: center;
        max-width: 68.88em;
        margin-inline: auto;
    }

    .subheading {
        font-size: clamp(1.1875rem, 0.9504rem + 1.0117vw, 2rem);
        line-height: 1.4;
        max-width: 90ch;
    }
</style>